@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind utilities;
@tailwind components;
@tailwind base;

* {
  font-family: 'Press Start 2P', cursive;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

* {
  font-family: 'Press Start 2P', cursive;
}

span {
  font-family: 'Press Start 2P', cursive;
  font-weight: inherit;
}

.blueShadow {
  box-shadow: 3px 3px 0 0 #60a5fa;
}

.blueShadow:hover {
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0 0 #60a5fa;
}
